package-lock.json merge=gitwasm
Cargo.lock merge=gitwasm
.gitwasm/** -text
package.json merge=gitwasm
go.sum merge=gitwasm
yarn.lock merge=gitwasm
poetry.lock merge=gitwasm
pnpm-lock.yaml merge=gitwasm
